@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@model Party
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ogani - Fresh and Cool</title>
    <link rel="stylesheet" href="~/LayoutSignIn_Up/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
</head>
<body>
    <style>
        .auth-image img {
            height: 460px;
            width: 490px;
            margin-left: -110px;
            margin-top: 68px;
        }

        input.auth-submit:hover {
            box-shadow: 3px 3px 7px 2px #7fad39;
        }

        a.auth-btn-direct:hover {
            box-shadow: -2px 3px 0px 0px #7FAD39;
        }

        h2.auth-form-title {
            color: #7fad39;
        }

        input.auth-submit {
            background: #7fad39;
        }

        a.auth-btn-direct {
            border: 1px solid #7fad39;
        }

        .auth-wrapper a {
            color: #7fad39;
        }

        .auth-wrapper a {
            color: #7fad39;
        }

        .auth-form-outer input:focus {
            border: 1px solid #7fad39;
        }

        label input[type="checkbox"] ~ i.fa.fa-square-o {
            color: #7fad39;
            display: inline;
        }

        label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
            color: #7fad39;
            display: inline;
        }

        label:hover input[type="checkbox"] ~ i.fa {
            color: #7fad39;
        }

        div[data-toggle="buttons"] label.active {
            color: #7fad39;
        }
        .text-danger{
            color: #fff;
            background-color: #dc3545;
        }
    </style>
    <!-- Form without bootstrap -->
    <div class="auth-wrapper">
        <div class="auth-container">
            <div class="auth-action-left">
                <div class="auth-form-outer">
                    <h2 class="auth-form-title">
                        Create Account !
                    </h2>
                    <div class="auth-external-container">
                        <div class="auth-external-list">
                            <ul>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <p class="auth-sgt">or use your email for registration:</p>
                    </div>
                    @using (Html.BeginForm("Signup", "Access", FormMethod.Post, new { @class = "login-form", id = "signupForm", onsubmit = "return checkPasswordMatch();" }))
                    {
                        <form class="login-form">
                            @Html.TextBoxFor(x => x.Person.CurrentLastName, new
                                {
                                    @class = "auth-form-input",
                                    placeholder = "LastName",
                                    required = "required",
                                    autofocus = "autoforcus"
                                })
                            @Html.TextBoxFor(x => x.Username, new
                                {
                                    @class = "auth-form-input",
                                    placeholder = "Username",
                                    required = "required",
                                    autofocus = "autoforcus"
                                })
                            <div class="input-icon">

                                @Html.TextBoxFor(x => x.Password, new
                                    {
                                        @class = "auth-form-input",
                                        placeholder = "Password",
                                        required = "required",
                                        type = "password",
                                        autofocus = "autoforcus"
                                    })
                                <i class="fa fa-eye show-password" onclick="togglePasswordVisibility('Password')"></i>
                            </div>
                            <div class="input-icon">
                                @Html.TextBox("ConfirmPassword", null, new
                                    {
                                        @class = "auth-form-input",
                                        placeholder = "Confirm Password",
                                        required = "required",
                                        type = "password",
                                        autofocus = "autoforcus"
                                    })
                                <i class="fa fa-eye show-password" onclick="togglePasswordVisibility('ConfirmPassword')"></i>
                            </div>
                            <label class="btn active">
                                <input type="checkbox" name='email1' checked>
                                <i class="fa fa-square-o"></i><i class="fa fa-check-square-o"></i>
                                <span> I agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</span>
                            </label>
                            <div class="footer-action">
                                <input type="submit" value="Sign Up" class="auth-submit">
                                <a asp-controller="Access" asp-action="Login" class="auth-btn-direct">Login</a>
                            </div>
                            <p class="text-danger">@TempData["ErrorMessage"]</p>
                        </form>
                    }
                </div>
            </div>
            <div class="auth-action-right">
                <div class="auth-image">
                    <img src="~/LayoutSignIn_Up/assets/signup.png" alt="login">
                </div>
            </div>
        </div>
    </div>
    <script src="~/LayoutSignIn_Up/js/common.js"></script>
</body>
</html>
<script>
    function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }

    function checkPasswordMatch() {
        var password = document.getElementById('Password').value;
        var confirmPassword = document.getElementById('ConfirmPassword').value;

        if (password !== confirmPassword) {
            alert('Mật khẩu và xác nhận mật khẩu không khớp');
            return false; // Ngừng submit nếu mật khẩu không khớp
        }

        return true; // Cho phép submit nếu mật khẩu khớp
    }
</script>
